body {
    background-image: url(../images/repeated-square-dark.png);
    background-color: black;
    background-repeat: repeat;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1,h2 {
    text-align: center;
}
nav {
    background-color: bisque;
    line-height: 2.5;
    margin: 5px;
}
div {
    width: 90%;
    border: 2px solid #81ab92;
    padding: 10px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    overflow: auto;
}
.center {
    text-align: center;
}
img.right {
    float: right;
    margin: 5px;
} 
img.left {
    float: left;
    margin: 5px;
} 
a:link{
    color:#dbffd9;
}
a:visited {
    color: rgb(144, 144, 144);
}
a:hover {
    color: #ff2828;
}
a:active {
    color:#71ff4a;
}